.wrap {
    font-family: 'Ubuntu', sans-serif;
    width: 450px;
    overflow: hidden;
    margin:auto;
    margin-top:180px;
    padding:20px;
    background: silver;
    border: 2px solid #000;
    border-radius: 5px;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    input {
        width:400px;
        height:35px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid silver;
        padding:5px;
    }

    .btn-login {
        margin-top: 20px;
        margin-bottom: 15px;
        width:400px;
        font-family: inherit;
        font-size: 16px;
    }
}



