


<div class="wrap">
  <h2>Login Form</h2>
  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="username" placeholder="Username">
  <input id="float-input" type="password" size="30" pInputText [(ngModel)]="password" placeholder="Password">
  <button pButton type="button" class="btn-login" (click)="submit()" label="Login"></button>
</div>



