// body{
// background-image: linear-gradient(to right top, #206ada, #009cfc, #00c1d9, #00dd85, #a8eb12);
// }

#flags {
  float: right;
  width: 5%;
  height: 2%;
  position: sticky;
  top: 0;
  z-index: 99;
}

#sticky-menu {
  margin-left: 8px;
  position: sticky;
  top: 0;
  z-index: 99;
  float: left;
  width: 70%;
}
