<div *ngIf="isLoggedIn$ | async as loggedIn" style = "position: sticky;
top: 0;
z-index: 99;
float: left;
width: 100%;
background-color: red">
<div style="width: 70%">
  <p-tabMenu [model]="items" [activeItem]="activeItem">
  </p-tabMenu>
</div>
<span>Logged in as: {{this.loggedUser.NazivUsera}}</span>
<p-button *ngIf="loggedIn" label="Logout" style="float: right; margin-right: 80px" (onClick)="onLogout()"></p-button>
<div style="float: right; top: 0">
  <button (click)="useLanguage('en')"><img src="../assets/images/uk_flag.png" height="30" /></button>
  <button (click)="useLanguage('cr')"><img src="../assets/images/cr_flag.png" height="30" /></button>
</div>
</div>