<button pButton type="button" id="back-edit-button" label="Back" [routerLink]="['/groups']"></button>
<button pButton class="edit-button" id="back-edit-button" icon="pi pi-pencil" (click)='showEditDialog()' label="Edit">
</button>
<p-button (onClick)="toggleMembers()" label="Switch" id="back-edit-button"></p-button>
<div class="container">

  <div class="ui-g-4" style="margin-top: 10vh;">
    <p-fieldset legend="Group Details">

      <table>
        <div *ngIf='selectedGroup'>
          <tr *ngFor="let col of cols">
            <td>{{col.header}}: </td>
            <td>{{selectedGroup[col.field]}}</td>
          </tr>
        </div>
      </table>
    </p-fieldset>
  </div>
  <div *ngIf="showMembers(); else roleBlock">
    <div class="ui-g-8" style="margin-top: 5vh;">
      <div class="ui-g">
        <p-fieldset legend="Group Members">
          <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="users" (onDrop)="addUser()">
            <ul>
              <li *ngFor="let user of groupUsers" class="ui-helper-clearfix list" pDraggable="users"
                (onDragStart)="dragStart($event,user)" (onDragEnd)="dragEnd($event)" style="width: 200px">
                <div class="box">{{user.fullName}}</div>
              </li>
            </ul>
          </div>
        </p-fieldset>
        <p-fieldset legend ="Available Users">
          <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="users" (onDrop)="deleteUser()"
            [ngClass]="{'ui-highlight-user':draggedUser}">
            <ul>
              <li *ngFor="let user of availableUsers" class="ui-helper-clearfix list" pDraggable="users"
                (onDragStart)="dragStart($event,user)" (onDragEnd)="dragEnd($event)" style="width: 200px"> 
                <div class="box">{{user.fullName}}</div>
              </li>
            </ul>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>

  <ng-template #roleBlock>
    <div class="ui-g-8" style="margin-top: 5vh;">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="roles" (onDrop)="addRole()">
          <h3>Group's roles</h3>
          <ul>
            <li *ngFor="let role of groupRoles" class="ui-helper-clearfix list" pDraggable="roles"
              (onDragStart)="dragStartRole($event,role)" (onDragEnd)="dragEndRole($event)">
              <div class="box">{{role.roleName}}</div>
            </li>
          </ul>
        </div>
        <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="roles" (onDrop)="deleteRole()"
          [ngClass]="{'ui-highlight-user':draggedRole}">
          <h3>Available roles</h3>
          <ul>
            <li *ngFor="let role of availableRoles" class="ui-helper-clearfix list" pDraggable="roles"
              (onDragStart)="dragStartRole($event,role)" (onDragEnd)="dragEndRole($event)">
              <div class="box">{{role.roleName}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<!--container-->