<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <button type="button" id="add-button" pButton icon="pi pi-plus" (click)="showAddDialog()"
        label="{{'button.add' | translate}}"></button>

    <p-table [columns]="cols" [value]="groups" selectionMode="single" [(selection)]="selectedGroup" stateStorage="local"
        dataKey="groupName" ng-dblclick="onDblClick(selectedGroup)" #dt>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="tr-header" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th id="filterGroup" *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <span *ngIf="checkForBoolean(col.field); else checkboxSearchBlock"
                                    class="ui-inputgroup-addon" style="background: #6ef359"><i
                                        class="pi pi-search"></i></span>
                                <input style='min-width: 160px;' *ngIf="checkForBoolean(col.field)" pInputText
                                    type="text" (input)="dt.filter($event.target.value, col.field, 'contains')"
                                    [value]="dt.filters[col.field]?.value">
                                <span *ngIf="isActiveCheck(col.field); else checkboxPasswordSearchBlock"
                                    #checkboxSearchBlock>
                                    <p-checkbox [(ngModel)]="activeSearch" binary="true"
                                        (onChange)="dt.filter(activeSearch, col.field, 'contains')" class="ui-g-6">
                                    </p-checkbox>
                                    <p-button
                                        (onClick)="dt.filter($event.value, col.field, 'contains');activeSearch=false"
                                        class="ui-g-6" icon="fa fa-undo"></p-button>
                                </span>
                                <span *ngIf="isVisibleCheck(col.field)" #checkboxPasswordSearchBlock>
                                    <p-checkbox [(ngModel)]="visibleSearch" binary="true"
                                        (onChange)="dt.filter(visibleSearch, col.field, 'contains')" class="ui-g-6">
                                    </p-checkbox>
                                    <p-button
                                        (onClick)="dt.filter($event.value, col.field, 'contains'); visibleSearch=false"
                                        class="ui-g-6" icon="fa fa-undo"></p-button>
                                </span>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <p-dialog [style]="{'border':'none','width':'150','height':'150','font-size':'0'}" [showHeader]='false'
                [focusOnShow]="false" [(visible)]="displayMainDialog" modal="true" dismissableMask="true">
                <!-- <p-header>
            Choose Action: 
        </p-header> -->
                <button pButton class="edit-button" icon="pi pi-pencil" (click)='showEditDialog()' label="Edit">
                </button>
                <button pButton class="details-button" icon="pi pi-info-circle" [routerLink]="['/group-detail']"
                    label="Details"></button>
                <button pButton class="delete-button" icon="pi pi-ban" (click)='deleteClick()' label="Delete"> </button>
            </p-dialog> <!-- main dialog -->

            <p-confirmDialog [(visible)]="displayDeleteDialog" [closeOnEscape]='false' [closable]='false'
                [draggable]='false'>
                <!--delete dialog-->

            </p-confirmDialog>

            <p-dialog [focusOnShow]="false" [(visible)]="displayAddDialog" modal='true' onHide="setEditDialogFalse()">

                <p-header>
                    {{headerMessage}} Group:
                </p-header>

                <div class="ui-g">
                    <span class="ui-float-label ui-g-6 input-text-label-30">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{groupToSend.groupName}}" 
                            [(ngModel)]="groupToSend.groupName">
                        <label for="float-input">Group Name</label>
                    </span>


                    <span class="ui-float-label ui-g-6 input-text-label-30">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{groupToSend.groupId}}" [(ngModel)]="groupToSend.groupId">
                        <label for="float-input">Group ID</label>
                    </span>

                </div>


                <div class="ui-g">

                    <span class="ui-float-label ui-g-6">
                        <span class="ui-g-6 margin-top:15px;">

                            <p-inputSwitch formControlModel="groupToSend.active" [(ngModel)]="groupToSend.active"></p-inputSwitch>
                            <br />Active
                        </span>
                        <span class="ui-g-6 margin-top:15px;">

                            <p-inputSwitch formControlModel="groupToSend.visible" [(ngModel)]="groupToSend.visible"></p-inputSwitch>
                            <br />Visible
                        </span>
                    </span>
                    <div class="ui-g-6">
                        <span class="ui-g-6"></span>
                        <p-button style="margin-top: 0.4em;" label="{{headerMessage}}" (onClick)="addGroup()" [disabled]="checkForAddButton()"></p-button>
                    </div>

                </div>


            </p-dialog> <!-- add dialog-->

            <p-toast position="top-right" key="addSuccess"></p-toast>
            <!-- </div> -->

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">

            <tr id="tr" [pSelectableRow]="rowData" (dblclick)='onDblClick(rowData)'>
                <td *ngFor="let col of columns">
                    <span *ngIf="rowData[col.field] === true || rowData[col.field] === false; else elseBlock">
                        <p-checkbox value="rowData[col.field]" [(ngModel)]="rowData[col.field]" binary="true"
                            disabled="true"></p-checkbox>
                    </span>
                    <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
                </td>
            </tr>

        </ng-template>
    </p-table>
</body>