<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <button type="button" id="add-button" pButton icon="pi pi-plus" (click)="showAddDialog()"
        label="{{'button.add' | translate}}"></button>
    <p-table [columns]="cols" [value]="users" selectionMode="single" [(selection)]="selectedUser" stateStorage="local"
        dataKey="name" #dt>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="tr-header" *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th id="filter" *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup ">
                                <span *ngIf="checkForBoolean(col.field); else checkboxSearchBlock"
                                    class="ui-inputgroup-addon" style="background: #6ef359"><i
                                        class="pi pi-search"></i></span>
                                <input id="input-search" style="min-width: 100px;" *ngIf="checkForBoolean(col.field)"
                                    pInputText type="text"
                                    (input)="dt.filter($event.target.value, col.field, 'contains')"
                                    [value]="dt.filters[col.field]?.value">
                                <span *ngIf="isActiveCheck(col.field); else checkboxPasswordSearchBlock"
                                    #checkboxSearchBlock>
                                    <p-checkbox [(ngModel)]="activeSearch" binary="true"
                                        (onChange)="dt.filter(activeSearch, col.field, 'contains')" class="ui-g-6">
                                    </p-checkbox>
                                    <p-button
                                        (onClick)="dt.filter($event.value, col.field, 'contains');activeSearch=false"
                                        class="ui-g-6" icon="fa fa-undo"></p-button>
                                </span>
                                <span *ngIf="passwordChangeCheck(col.field)" #checkboxPasswordSearchBlock>
                                    <p-checkbox [(ngModel)]="passSearch" binary="true"
                                        (onChange)="dt.filter(passSearch, col.field, 'contains')" class="ui-g-6">
                                    </p-checkbox>
                                    <p-button
                                        (onClick)="dt.filter($event.value, col.field, 'contains'); passSearch=false"
                                        class="ui-g-6" icon="fa fa-undo"></p-button>
                                </span>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>

            <p-dialog [style]="{'border':'none','width':'auto','height':'auto','font-size':'0'}" [showHeader]='false'
                [focusOnShow]="false" [(visible)]="displayMainDialog" modal="true" dismissableMask="true">
                <!-- <p-header>
                        Choose Action: 
                    </p-header> -->
                <button pButton class="edit-button" icon="pi pi-pencil" (click)='showEditDialog()' label="Edit">
                </button>
                <button pButton class="details-button" icon="pi pi-info-circle" [routerLink]="['/user-detail']"
                    label="Details"></button>
                <button pButton class="delete-button" icon="pi pi-ban" (click)='deleteClick()' label="Delete"> </button>
            </p-dialog> <!-- main dialog -->


            <p-confirmDialog [(visible)]="displayDeleteDialog" [closeOnEscape]='false' [closable]='false'
                [draggable]='false'>
                <!--delete dialog-->

            </p-confirmDialog>

            <p-dialog [focusOnShow]="false" [(visible)]="displayAddDialog" modal='true' onHide="setEditDialogFalse()">
                <p-header>
                    {{headerMessage}} User:
                </p-header>

                <div class="ui-g">
                    <span class="ui-float-label ui-g-6 input-text-label-30">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{userToSend.name}}"
                            [(ngModel)]="userToSend.name">
                        <label for="float-input">Name</label>
                    </span>


                    <span class="ui-float-label ui-g-6 input-text-label-30">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{userToSend.surname}}" [(ngModel)]="userToSend.surname" >
                        <label for="float-input">Surname</label>
                    </span>

                </div>
                <div class="ui-g">
                    <span class="ui-float-label ui-g-6 input-text-label">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{userToSend.username}}" [(ngModel)]="userToSend.username">
                        <label for="float-input">Username</label>
                    </span>

                    <span class="ui-float-label ui-g-6 input-text-label">
                        <input id="float-input" type="email" size="30" pInputText
                            value="{{userToSend.email}}" [(ngModel)]="userToSend.email">
                        <label for="float-input">E-mail</label>
                    </span>
                </div>
                <ng-template #addButton>
                <div>
                <span class="ui-float-label ui-g-6 input-text-label">
                        <input id="float-input" type="password" size="30" pInputText
                            value="{{userToSend.password}}" [(ngModel)]="userToSend.password">
                        <label for="float-input">Password</label>
                    </span>

                    <span class="ui-float-label ui-g-6 input-text-label">
                            <input id="float-input" type="password" size="30" pInputText
                              [(ngModel)]="this.confirmPassword">
                            <label for="float-input">Confirm Password</label>
                        </span>
                </div>
            </ng-template>
                <div class="ui-g">
                    <span class="ui-float-label ui-g-6 input-text-label">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{userToSend.businessPartnerName}}" [(ngModel)]="userToSend.businessPartnerName">
                        <label for="float-input">Bussiness Partner Name</label>
                    </span>

                    <span class="ui-float-label ui-g-6 input-text-label">
                        <input id="float-input" type="text" size="30" pInputText
                            value="{{userToSend.businessPartnerId}}" [(ngModel)]="userToSend.businessPartnerId">
                        <label for="float-input">Bussiness Partner Id</label>
                    </span>
                </div>

                <span class="ui-float-label ui-g-6" style="margin-top:15px;">
                    <input id="float-input" type="text" size="30" pInputText
                        value="{{userToSend.organizationUnitName}}" [(ngModel)]="userToSend.organizationUnitName">
                    <label for="float-input">Name of organization unit:</label>
                </span>
                <span class="ui-float-label ui-g-6">
                    <span class="ui-g-6 margin-top:15px;">

                        <p-inputSwitch formControlModel="userToSend.active" [(ngModel)]="userToSend.active"></p-inputSwitch>
                        <br />active
                    </span>
                    <span class="ui-g-6 margin-top:15px;">

                        <p-inputSwitch formControlModel="userToSend.passwordChangeNeeded" [(ngModel)]="userToSend.passwordChangeNeeded"></p-inputSwitch>
                        <br />obligatory password change
                    </span>
                </span>
 <span *ngIf="checkForEdit(); else addButton">  
       <p-button  label="{{headerMessage}}" style="float: right;" (onClick) = "updateUser()" [disabled]="checkForAddButton()"></p-button>
 </span>
 <ng-template #addButton>  
        <p-button  label="{{headerMessage}}" style="float: right;" (onClick) = "addUser()" [disabled]="checkForAddButton()"></p-button>
 </ng-template>
             </p-dialog> <!-- add dialog-->

<p-dialog [focusOnShow]="false" [(visible)]="displayPasswordDialog"
 modal='true' [closable]='false'>
 <p-header>
    You need to change password:
</p-header>

<div class="ui-g">
    <span class="ui-float-label ui-g-6 input-text-label-30">
        <input id="float-input" type="password" size="30" pInputText
            [(ngModel)]="loggedUser.password">
        <label for="float-input">New password</label>
    </span>


    <span class="ui-float-label ui-g-6 input-text-label-30">
        <input id="float-input" type="password" size="30" pInputText
             [(ngModel)]="this.confirmPassword">
        <label for="float-input">Confirm new password</label>
    </span>

</div>
<p-button label="Change Password" style="float: right;" (onClick) = "changePassword()"></p-button>
</p-dialog>

<p-toast position="top-right" key="wrongEmail"></p-toast>
<p-toast position="top-right" key="addSuccess"></p-toast>
<p-toast position="top-right" key="error"></p-toast>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">

            <tr id="tr" [pSelectableRow]="rowData" (dblclick)='onDblClick(rowData)'>
                <td *ngFor="let col of columns">
                    <span *ngIf="rowData[col.field] === true || rowData[col.field] === false; else elseBlock">
                        <p-checkbox value="rowData[col.field]" [(ngModel)]="rowData[col.field]" binary="true"
                            disabled="true"></p-checkbox>
                    </span>
                    <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
                </td>
            </tr>

        </ng-template>
    </p-table>

</body>