<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<button pButton type="button" id="back-edit-button" [routerLink]="['/users']" label="Back"></button>
<button pButton class="edit-button" id="back-edit-button" icon="pi pi-pencil" (click)='showEditDialog()'
  label="Edit"></button>

<div class="container">
  <div>
    <div class="ui-g-4" style="margin-top: 10vh;">
      <p-fieldset legend="User Details">

        <table>
          <div *ngIf='selectedUser'>
            <tr *ngFor="let col of cols">
              <td>{{col.header}}: </td>
              <td>{{selectedUser[col.field]}}</td>
            </tr>
          </div>
        </table>
      </p-fieldset>
    </div>

    <div class="ui-g-8">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="groups" (onDrop)="addGroup()">
          <h3>User's groups</h3>
          <ul>
            <li *ngFor="let group of userGroups" class="ui-helper-clearfix list" pDraggable="groups"
              (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)">

              <div class="box">{{group.groupName}}</div>
            </li>
          </ul>
        </div>
        <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column" pDroppable="groups" (onDrop)="deleteGroup()"
          [ngClass]="{'ui-highlight-group':draggedGroup}">
          <h3>Other groups</h3>
          <ul>
            <li *ngFor="let group of otherGroups" class="ui-helper-clearfix list" pDraggable="groups"
              (onDragStart)="dragStart($event,group)" (onDragEnd)="dragEnd($event)">
              <div class="box">{{group.groupName}}</div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>