.container {
  align-items: baseline;
}

body {
  font-family: "Lato";
}

.list {
  border: solid 1px #ccc;
  // min-height: 60px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
}

.box {
  padding: 30px 10px;
  margin: 0;
  //display: flex;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  border: 2px solid #4cd137 !important;
}

.list .box {
  &:hover {
    background: lighten(#111810, 35%);
  }
}

#back-edit-button {
  float: right;
  margin: 5px;
}
