#flags {
    float: right;
    width: 5%;
    height: 2%;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  
 :host ::ng-deep #sticky-menu {
    // margin-left: 8px;
    position: sticky;
    top: 0;
    z-index: 99;
    float: left;
    width: 50%;
  }
  
  :host ::ng-deep .sticky-menu {
    // margin-left: 8px;
    position: sticky;
    top: 0;
    z-index: 99;
    float: left;
    width: 50%;
  }
  