$primary: #4cd137;

td {
  word-break: break-word;
}

#add-button {
  position: relative;
  float: right;
  z-index: 99;
  position: sticky;
  top: 3px;
  margin-bottom: 3px;
}
:host ::ng-deep #filter {
  position: sticky;
  top: 85px;
  //background: #E8FC99;
}

:host ::ng-deep #filterGroup {
  position: sticky;
  top: 70px;
  //background: #E8FC99;
}

:host ::ng-deep #tr-header {
  position: sticky;
  top: 35px;
  // background: #4cd137;
  // &:hover{
  //     background:#3bc026;
  // }
}
@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
    top: 100px;
  }
}
@mixin dialog-button-mixin($bgcolor, $margin) {
  height: 130px;
  width: 130px;
  border: none;
  display: inline-block;
  padding: 0px;
  font-size: 22px;
  background-color: $bgcolor;
  margin: $margin;

  &:hover {
    background-color: lighten($bgcolor, 20%) !important;
  }
}

//  {
//     background-color: #a2f111;
// }

.edit-button {
  @include dialog-button-mixin(#0abde3, 5px);
}

.delete-button {
  @include dialog-button-mixin(#ee5253, 5px);
}

.details-button {
  @include dialog-button-mixin(#10ac84, 0px);
}

#tr {
  // background-color: lighten(#E8FC99, 17%);
  // color: #000;
  //opacity:0.85;

  // &:nth-child(even){
  //     background-color: lighten(#E8FC99, 12%);
  // }

  // &:hover{
  //     background-color: lighten(#4cd137, 20%);
  // }
}

label {
  padding-left: 0.3em;
}

div {
  display: flex;
  justify-content: center;
}

.input-text-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-text-label-30 {
  margin-top: 30px;
  margin-bottom: 15px;
}

// #tr-header{
//     background: #4cd137;
//     &:hover{
//         background:#3bc026;
//     }
// }
//#a2f111 fajny kolor
//ac414f

//4cd137
